<header id="header" class="animated fadeInDown">

  <div id="logo-group">
    <span id="logo"> <img src="assets/img/logo.gif" style="width:65px;" alt="SmartAdmin"> </span>
  </div>
  <div class="tollfree_wrapper1 content__middle text-center pull-right">
    <div class="mid_toll_free">
        <i class="fa fa-phone color-orange phone fleft"></i> <div class="fright toll_number"> Toll Free Number <span class="toll_number num login_toll">  00000000 </span></div>
    </div>
</div>
  <!-- <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Need an account?</span> <a routerLink="/auth/register" class="btn btn-danger">Create account</a> </span> -->

</header>
<div id="main" role="main" class="animated fadeInDown">
  <div id="content" class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-sm-offset-4">
        <div class="well no-padding">
          <form class="smart-form client-form">
            <header>
              Sign In
            </header>
            <fieldset>
                <section>
                    <label class="label">Company Name</label>
                    <label class="select">
                      <select name="gender">
                        <option value="0">Aegis</option>
                      </select> </label>
                  </section>
              <section>
                <label class="label">E-mail</label>
                <label class="input"> <i class="icon-append fa fa-user"></i>
                  <input type="email" name="email" data-smart-validate-input="" data-required="" data-email="" data-message-required="Please enter your email address" data-message-email="Please enter a VALID email address">
                  <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>
                    Please enter email address/username</b></label>
              </section>
              <section>
                <label class="label">Password</label>
                <label class="input"> <i class="icon-append fa fa-lock"></i>
                  <input type="password" name="password" data-smart-validate-input="" data-required="" data-minlength="3" data-maxnlength="20" data-message="Please enter your email password">
                  <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter
                    your password</b> </label>

                <div class="note">
                  <a routerLink="/auth/forgot-password">Forgot password?</a>
                </div>
              </section>
              
            </fieldset>
            <footer>
              <button (click)="login($event)" class="btn btn-primary">
                Sign in
              </button>
            </footer>
          </form>
        </div>
        <!-- <h5 class="text-center"> - Or sign in using -</h5>
        <ul class="list-inline text-center">
          <li>
            <a (click)="(null)" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a (click)="(null)" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a (click)="(null)" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul> -->
      </div>
    </div>
  </div>
</div>
