<div id="content">
  <sa-widgets-grid>
    <div class="row">

      <!-- NEW WIDGET START -->
      <article class="col-sm-12 ">

        <!-- Widget ID (each widget will need unique ID)-->
        <div sa-widget [colorbutton]="false" [editbutton]="false" [togglebutton]="false" [deletebutton]="false"
                   [fullscreenbutton]="false" [custombutton]="false" [sortable]="false" color="blueDark">
                   <header>
                      <div class="text-center">
                    <span class="widget-icon"> <i class="fa fa-database txt-color-green"></i> </span>
                    <h2>&nbsp;Godown</h2>
                  </div>
                  </header>
          <div>
            <div class="widget-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="sel1">Channel Partner / Dist Code<span class="errorMessage" style="color:red;">*</span></label>
                            <input type="text" class="form-control" id="pmode" placeholder="Enter Channel Partner / Dist Code" ng-model="pay.PayMode" maxlength="2" minlength="2" alphaonly="alphaonly" required />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="sel1">Godown Name<span class="errorMessage" style="color:red;">*</span></label>
                            <input type="text" class="form-control" id="pmode" placeholder="Enter Godown Name" ng-model="pay.PayMode" maxlength="2" minlength="2" alphaonly="alphaonly" required />
                        </div>
                    </div>
                    <div class="col-sm-4">
                            <div class="form-group">
                                <label for="sel1">Godown Capacity<span class="errorMessage" style="color:red;">*</span></label>
                                <input type="text" class="form-control" id="pmode" placeholder="Enter Godown Capacity" ng-model="pay.PayMode" maxlength="2" minlength="2" alphaonly="alphaonly" required />
                            </div>
                        </div>
                  
                </div>
                <div class="row">
                        <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="sel1">Address Line 1<span class="errorMessage" style="color:red;">*</span></label>
                                    <input type="text" class="form-control" placeholder="Enter Address Line 1" ng-model="pay.PayDesc" required />
                                </div>
                            </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="sel1">Address Line 2<span class="errorMessage" style="color:red;">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter Address Line 2" ng-model="pay.PayDesc" required />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="sel1">Address Line 3<span class="errorMessage" style="color:red;">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter Address Line 3" ng-model="pay.PayDesc" required />
                        </div>
                    </div>
             
                </div>
              

                <div class="row">
                        <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="sel1">Pin Code<span class="errorMessage" style="color:red;">*</span></label>
                                    <input type="text" class="form-control" placeholder="Enter Pin Code" ng-model="pay.PayDesc" required />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="sel1">Godown License No.<span class="errorMessage" style="color:red;">*</span></label>
                                        <input type="text" class="form-control" placeholder="Enter Godown License No." ng-model="pay.PayDesc" required />
                                    </div>
                                </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="sel1">License Issue Date<span class="errorMessage" style="color:red;">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter License Issue Date" ng-model="pay.PayDesc" required />
                        </div>
                    </div>
                  
                </div>

                <div class="row">
                        <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="sel1">License Expiry Date<span class="errorMessage" style="color:red;">*</span></label>
                                    <input type="text" class="form-control" placeholder="Enter License Expiry Date" ng-model="pay.PayDesc" required />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="sel1">Last Audit Date<span class="errorMessage" style="color:red;">*</span></label>
                                    <input type="text" class="form-control" placeholder="Enter Last Audit Date" ng-model="pay.PayDesc" required />
                                </div>
                            </div>
                        <div class="col-sm-4" style="margin-top:23px;">
                                <input type="file" class="form-control" placeholder="Enter License Expiry Date" ng-model="pay.PayDesc" required />
                            </div>
                 
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="checkbox-inline">
                                <input type="checkbox" value="" ng-true-value="'Y'" ng-false-value="'N'" ng-model="pay.IsActive">Is Active?
                            </label>
                        </div>
                    </div>
                </div>

                <hr class="hr_basic" />
                <div class="row ">
                  <div class="col-sm-12 ">
                      <a class="btn btn-default pull-right" routerLink="/master/godown-list">
                          <i class="glyphicon glyphicon-arrow-left"></i> &nbsp;&nbsp;Back
                      </a>
                      <button class=" btn btn-primary pull-right" type="submit" style="margin-right:10px;" >
                          <i class="glyphicon glyphicon-send"></i> &nbsp;&nbsp;Submit
                      </button>
                      <!-- <button type="button" name="" class="btn btn-primary btn-right pull-right" *ngIf="loadershow">
                          <i class="fa fa-cog fa-spin fa-fw" aria-hidden="true"></i> Loading
                      </button> -->
                  </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>


  </sa-widgets-grid>
</div>
