<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <sa-widgets-grid>
  
      <!-- row -->
      <div class="row">
  
        <!-- NEW WIDGET START -->
        <article class="col-sm-12 col-md-12 ">
  
          <!-- Widget ID (each widget will need unique ID)-->
          <div sa-widget [colorbutton]="false" [editbutton]="false"  [togglebutton]="false"  [deletebutton]="false">
        
                <header>
                    <div class="text-center">
                  <span class="widget-icon"> <i class="fa fa-database txt-color-green"></i> </span>
                  <h2>&nbsp;Status Mapping</h2>
                </div>
                </header>
  
                <!-- widget div-->
                <div>
  
                  <!-- widget content -->
                  <div class="widget-body">
                      <div class="row">
                          <div class="col-sm-2">
                              <div class="form-group">
                                  <label for="sel1">Lead Type<span class="errorMessage" style="color:red;">*</span></label>
                                  <select class="form-control">
                                      <option selected hidden>Select Type</option>
                                      <option>Auto-U</option>
                                  </select>
                              </div>
                          </div>
                        <div class="col-sm-10">
                          <div class="form-group ">
                              <a routerLink="/mastersetup/status-mapping" class="btn btn-primary pull-right "><i class="fa fa-plus"></i> Add </a>                  
                          </div>
                        </div>
                      </div><br>
                      <div class="row">
                        <div class="col-sm-12 ">
  <!--                          
                          <cust-grid [data]="gridOptions| async"></cust-grid> -->
  
                        </div>
                      </div>
                  </div>
                                                      
                </div>
             
  
                </div>
        </article>
      </div>
  
      <!-- end row -->
  
    </sa-widgets-grid>
    <!-- end widget grid -->
  
  
  </div>
  <!-- END MAIN CONTENT -->
  